/*

    Specific layout and styling, project based


*/
.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope styles ****/
/* required for containers to inherit vertical size from window */
html,
body {
    height: 100%;
}

.isotope {
    margin: 0 !important;
    overflow: hidden;
}

.isotope .large,
.isotope .variable-sizes .element.large,
.isotope .variable-sizes .element.large.width2.height2 {
    height: 450px;
    width: 450px;
    z-index: 100;
}

.joyo_isotope_item.isotope-item {
    overflow: hidden;
    width: 150px;
    height: 150px;
    float: left;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.joyo_isotope_item.isotope-item.width2 {
    width: 300px;
}

.joyo_isotope_item.isotope-item.height2 {
    height: 300px;
}

.joyo_isotope_item.isotope-item.width2.height2 {
    height: 300px;
    width: 300px;
}

.isotope-item {
    float: left;
    overflow: hidden;
    position: relative;
}

/**** Pointer for elements on the complete grid ****/
.element:hover {
    cursor: pointer;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/* STYLING ON BASE STRUCTURE
   Global Styling with background images. Backgroundcolors are set in variables.less or overruled here

-------------------------------------------------- */
body {
    background: url('../images/theme/bg_bal_01.png') center top;
}

body.page-template-template-wide #segment-content .container {
    background-image: url('../images/theme/tb_bg_left-bar-small.png');
}

.segment > .container {
    background-color: #fff;
    position: relative;
}

#segment-header {
    background: #fff;
    z-index: 1;
    position: relative;
}

#segment-header > .container {
    padding-top: 20px;
}

#segment-content {
    z-index: 0;
}

#segment-content > .container {
    background-image: url('../images/theme/tb_bg_left-bar.png');
    background-repeat: repeat-y;
    margin-top: 24px;
    padding-top: 20px;
}

#segment-content > .container.home {
    background-image: none;
    padding-top: 0;
}

#segment-pre-footer > .container {
    background-color: #b4bed8;
}

#segment-footer > .container {
    background-color: #e5e9f4;
}

#segment-footer > .container:first-child {
    padding-bottom: 40px;
}

#segment-footer > .container#service-footer {
    background-color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
}

#segment-footer > .container#service-footer p {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

.hidden {
    display: none !important;
}

.entry-content {
    overflow: hidden;
}

.inner-wrapper-page {
    padding-bottom: 2em;
    position: relative;
}

.widget-style-default > .inner-wrapper .widget-title {
    font-size: 16px;
}

.widget-style-default > .inner-wrapper p {
    font-size: 13px;
    line-height: 1.25em;
    margin-bottom: 4px;
}

.widget-style-home > .inner-wrapper .widget-title {
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 9px;
    padding-bottom: 6px;
    color: #942217;
}

.widget-style-home > .inner-wrapper p {
    font-size: 13px;
    line-height: 1.3em;
}

.sidebar-homepage-research-middle > .inner-wrapper {
    border: solid 1px #cccccc;
    min-height: 240px;
    padding: 10px;
}

.sidebar-homepage-research-middle > .inner-wrapper .widget-title {
    color: #942217;
}

.sidebar-homepage-research-middle > .inner-wrapper .description {
    color: #4864ab;
}

.sidebar-homepage-research-middle:nth-child(2n+1) {
    clear: both;
}

.shortLists {
    line-height: 1.25em;
}

.shortLists .title {
    color: #23376a;
    display: block;
    margin-bottom: 0.1em;
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    font-style: normal;
}

.shortLists .title.sub-title {
    font-style: italic;
    color: #555;
    font-size: 1em;
}

.shortLists .vcard,
.shortLists .description,
.shortLists .journal {
    clear: both;
    color: #999;
    font-size: 0.9em;
}

.shortLists .journal {
    color: #4d4d4d;
    font-style: italic;
}

.shortLists .when {
    font-size: 0.85em;
    color: #999;
}

.shortLists blockquote {
    border-left: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    margin-top: 0.5em;
}

.widget-style-one > .inner-wrapper .widget-title {
    font-size: 16px;
}

.widget-style-one > .inner-wrapper p {
    font-size: 13px;
    line-height: 1.25em;
    margin-bottom: 4px;
}

.widget-style-two > .inner-wrapper .widget-title {
    font-size: 16px;
}

.widget-style-two > .inner-wrapper p {
    font-size: 13px;
    line-height: 1.25em;
    margin-bottom: 4px;
}

.widget-style-two .aankeiler-image {
    float: left;
    margin-right: 6px;
    margin-bottom: 6px;
    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.widget-style-three > .inner-wrapper .widget-title {
    font-size: 16px;
}

.widget-style-three > .inner-wrapper p {
    font-size: 13px;
    line-height: 1.25em;
    margin-bottom: 4px;
}

.widget-style-four > .inner-wrapper .widget-title {
    font-size: 16px;
}

.widget-style-four > .inner-wrapper p {
    font-size: 13px;
    line-height: 1.25em;
    margin-bottom: 4px;
}

.widget_taxonomy-drill-down > .inner-wrapper .widget-title,
.joyo_contacten > .inner-wrapper .widget-title,
.joyo_aankeiler > .inner-wrapper .widget-title,
.joyo_clbtype > .inner-wrapper .widget-title,
.widget_p2p > .inner-wrapper .widget-title,
.joyo_twitter > .inner-wrapper .widget-title,
.joyo_clbselection > .inner-wrapper .widget-title,
.widget_mailchimpsf_widget > .inner-wrapper .widget-title {
    font-size: 16px;
}

.widget_taxonomy-drill-down > .inner-wrapper p,
.joyo_contacten > .inner-wrapper p,
.joyo_aankeiler > .inner-wrapper p,
.joyo_clbtype > .inner-wrapper p,
.widget_p2p > .inner-wrapper p,
.joyo_twitter > .inner-wrapper p,
.joyo_clbselection > .inner-wrapper p,
.widget_mailchimpsf_widget > .inner-wrapper p {
    font-size: 13px;
    line-height: 1.25em;
    margin-bottom: 4px;
}

.featured-widget.joyo_aankeiler > .inner-wrapper .widget-title,
.featured-widget.joyo_clbselection > .inner-wrapper .widget-title,
.featured-widget.joyo_clbtype > .inner-wrapper .widget-title,
.featured-widget.joyo_twitter > .inner-wrapper .widget-title,
.featured-widget.widget_mailchimpsf_widget > .inner-wrapper .widget-title {
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 9px;
    padding-bottom: 6px;
    color: #942217;
}

.featured-widget.joyo_aankeiler > .inner-wrapper p,
.featured-widget.joyo_clbselection > .inner-wrapper p,
.featured-widget.joyo_clbtype > .inner-wrapper p,
.featured-widget.joyo_twitter > .inner-wrapper p,
.featured-widget.widget_mailchimpsf_widget > .inner-wrapper p {
    font-size: 13px;
    line-height: 1.3em;
}

.asideStyle {
    background: #f0f3f8;
    margin-bottom: 2px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.asideStyle:first-child {
    padding-top: 20px;
}

.asideStyle .inner-wrapper {
    background: #fff;
    padding: 0 10px 10px 10px;
}

.asideStyle .inner-wrapper .widget-title {
    background-color: #91a2cd;
    margin-bottom: 0;
    padding: 12px 10px 10px 10px;
    margin-left: -10px;
    margin-right: -10px;
    color: #fff;
    font-size: 15px;
}

.asideStyle .inner-wrapper ul > li {
    border-bottom: 1px solid #c8d1e6;
    padding-bottom: 0.5em;
    margin-top: 0.7em;
}

.asideStyle .inner-wrapper ul > li:last-child {
    border: none;
}

#sidebar .widgets > li {
    background: #f0f3f8;
    margin-bottom: 2px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#sidebar .widgets > li:first-child {
    padding-top: 20px;
}

#sidebar .widgets > li .inner-wrapper {
    background: #fff;
    padding: 0 10px 10px 10px;
}

#sidebar .widgets > li .inner-wrapper .widget-title {
    background-color: #91a2cd;
    margin-bottom: 0;
    padding: 12px 10px 10px 10px;
    margin-left: -10px;
    margin-right: -10px;
    color: #fff;
    font-size: 15px;
}

#sidebar .widgets > li .inner-wrapper ul > li {
    border-bottom: 1px solid #c8d1e6;
    padding-bottom: 0.5em;
    margin-top: 0.7em;
}

#sidebar .widgets > li .inner-wrapper ul > li:last-child {
    border: none;
}

#sidebar .widgets > li .inner-wrapper {
    margin: 0 10px 10px 10px;
}

#nav-secondary .inner-wrapper {
    padding-left: 0;
    padding-right: 0;
}

#nav-secondary .inner-wrapper .widgets > li {
    background: #f0f3f8;
    margin-bottom: 2px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-top: 0;
}

#nav-secondary .inner-wrapper .widgets > li:first-child {
    padding-top: 20px;
}

#nav-secondary .inner-wrapper .widgets > li .inner-wrapper {
    background: #fff;
    padding: 0 10px 10px 10px;
}

#nav-secondary .inner-wrapper .widgets > li .inner-wrapper .widget-title {
    background-color: #91a2cd;
    margin-bottom: 0;
    padding: 12px 10px 10px 10px;
    margin-left: -10px;
    margin-right: -10px;
    color: #fff;
    font-size: 15px;
}

#nav-secondary .inner-wrapper .widgets > li .inner-wrapper ul > li {
    border-bottom: 1px solid #c8d1e6;
    padding-bottom: 0.5em;
    margin-top: 0.7em;
}

#nav-secondary .inner-wrapper .widgets > li .inner-wrapper ul > li:last-child {
    border: none;
}

#nav-secondary .inner-wrapper .widgets > li .inner-wrapper .widget-title {
    color: #2a3a63;
    background: #f0f3f8;
}

#nav-secondary .inner-wrapper .widgets > li.joyo_clbtype ul li {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

#nav-secondary .inner-wrapper .widgets > li.joyo_clbtype ul li.thumbed {
    min-height: 60px;
}

#nav-secondary .inner-wrapper .widgets > li.joyo_clbtype ul li.thumbed .thumb {
    height: auto;
}

#nav-secondary .inner-wrapper .widgets > li.joyo_clbtype ul li.thumbed .thumb .image-wrapper {
    min-height: 60px;
    background: url('../images/theme/thumb-cropped-no-image.png') no-repeat;
}

.joyo_contacten .inner-wrapper {
    padding: 0 !important;
}

.joyo_contacten .inner-wrapper .widget-title {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.joyo_contacten .inner-wrapper .description {
    padding: 10px 10px 4px 10px;
    background-color: #d1d8ea;
    color: #4864ab;
}

.joyo_contacten .inner-wrapper ul {
    list-style: none outside none;
    margin-left: 0;
}

.joyo_contacten .inner-wrapper ul li {
    overflow: hidden;
}

.joyo_contacten .inner-wrapper ul li .image-wrapper {
    padding: 0px 0px 0px 0px;
    margin-right: 6px;
    margin-bottom: 6px;
    float: left;
    width: 54px;
    height: 64px;
}

.joyo_contacten .inner-wrapper ul li .image-wrapper img {
    border-top: 2px solid #d1d8ea;
    border-right: 1px solid #d1d8ea;
    border-bottom: 2px solid #d1d8ea;
    border-left: 2px solid #d1d8ea;
}

.joyo_contacten .inner-wrapper ul li .title-contact {
    font-size: 18px;
    color: #4864ab;
    font-weight: normal;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #d1d8ea;
    min-height: 54px;
}

.joyo_contacten .inner-wrapper ul li .contactinfo {
    margin-left: 10px;
    margin-right: 2px;
}

.joyo_contacten .inner-wrapper ul li .contactinfo dt,
.joyo_contacten .inner-wrapper ul li .contactinfo dd {
    line-height: 1.3em;
    margin-bottom: 4px;
}

.joyo_contacten .inner-wrapper ul li .contactinfo dt {
    font-weight: normal;
    color: #555;
    font-size: 12px;
    width: 40px;
}

.joyo_contacten .inner-wrapper ul li .contactinfo dt.dt-email + dd {
    min-width: 20px;
}

.joyo_contacten .inner-wrapper ul li .contactinfo dt.dt-telephone {
    min-width: 20px;
}

.joyo_contacten .inner-wrapper ul li .contactinfo dt.dt-telephone + dd {
    margin-bottom: 0.5em;
}

.joyo_contacten .inner-wrapper ul li .contactinfo dd {
    font-size: 12px;
    width: 70%;
    margin-left: 0;
    color: #4864ab;
}

.joyo_contacten .inner-wrapper ul li .contactinfo dd a,
.joyo_contacten .inner-wrapper ul li .contactinfo dd i {
    color: #4864ab;
}

.joyo_contacten .inner-wrapper ul li .lees-verder {
    margin-left: 10px;
}

.joyo_contacten .inner-wrapper ul li:nth-child(1n+2) {
    border-top: 3px solid #f0f3f8;
}

.joyo_contacten .inner-wrapper ul li:nth-child(1n+2) .image-wrapper {
    background-image: none;
}

.joyo_clbtype .title {
    margin-bottom: 0.3em;
}

.joyo_clbtype li {
    line-height: 1.25em;
}

.joyo_clbtype li .title {
    color: #23376a;
    display: block;
    margin-bottom: 0.1em;
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    font-style: normal;
}

.joyo_clbtype li .title.sub-title {
    font-style: italic;
    color: #555;
    font-size: 1em;
}

.joyo_clbtype li .vcard,
.joyo_clbtype li .description,
.joyo_clbtype li .journal {
    clear: both;
    color: #999;
    font-size: 0.9em;
}

.joyo_clbtype li .journal {
    color: #4d4d4d;
    font-style: italic;
}

.joyo_clbtype li .when {
    font-size: 0.85em;
    color: #999;
}

.joyo_clbtype li blockquote {
    border-left: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    margin-top: 0.5em;
}

.joyo_clbselection .title {
    margin-bottom: 0.3em;
}

.joyo_clbselection li {
    line-height: 1.25em;
}

.joyo_clbselection li .title {
    color: #23376a;
    display: block;
    margin-bottom: 0.1em;
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    font-style: normal;
}

.joyo_clbselection li .title.sub-title {
    font-style: italic;
    color: #555;
    font-size: 1em;
}

.joyo_clbselection li .vcard,
.joyo_clbselection li .description,
.joyo_clbselection li .journal {
    clear: both;
    color: #999;
    font-size: 0.9em;
}

.joyo_clbselection li .journal {
    color: #4d4d4d;
    font-style: italic;
}

.joyo_clbselection li .when {
    font-size: 0.85em;
    color: #999;
}

.joyo_clbselection li blockquote {
    border-left: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    margin-top: 0.5em;
}

.joyo_twitter #tweets {
    margin-top: 0.7em;
}

.publications-section ul {
    margin-top: 1em;
}

.thumbed {
    padding-left: 56px;
    min-height: 70px;
    position: relative;
}

.thumbed.testimonial {
    padding-left: 0;
}

.thumbed.testimonial .hover-image {
    position: relative;
    float: left;
    margin-right: 6px;
}

.thumbed .thumb {
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
    height: 70px;
    overflow: hidden;
}

.thumbed .thumb.hover-image img {
    display: none;
}

.thumbed .thumb.publication-image {
    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    height: 60px;
}

.calendar {
    background: #4864ab;
    width: 50px;
    height: 42px;
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    padding-top: 8px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.calendar span {
    width: 100%;
    display: block;
    line-height: 20px;
}

.calendar .day {
    font-size: 24px;
    display: block;
    line-height: 0.7em;
}

.calendar .day.small {
    font-size: 18px;
}

.calendar .month {
    font-size: 16px;
    display: block;
    line-height: 1.1em;
}

.calendar .year {
    position: absolute;
    top: 50px;
    display: block;
    width: 50px;
    background: #4d4d4d;
    left: 0;
}

.calendar .monthday {
    clear: both;
}

.calendar > .monthday {
    margin-top: -2px;
}

.calendar .separator {
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    overflow: hidden;
    background-color: #fff;
    width: 4px;
    text-indent: -9999px;
    margin-left: auto;
    margin-right: auto;
}

.byline.vcard address {
    display: inline;
}

.journal {
    color: #999;
    font-size: 0.9em;
    color: #4d4d4d;
    font-style: italic;
}

.predefined-content {
    overflow: hidden;
}

.predefined-content .sub-title {
    display: block;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 0.8em;
}

.predefined-content .downloads-title {
    font-size: 28px;
}

.listing-title.halfway {
    margin-bottom: 20px;
    color: #942217;
}

.listing-item,
.listing > li {
    border-bottom: solid 1px #cccccc;
    padding-bottom: 1.5em;
    overflow: auto;
}

.listing-item .sub-title,
.listing > li .sub-title {
    display: block;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 0.8em;
}

.listing-item.former .calendar,
.listing > li.former .calendar {
    background: none repeat scroll 0 0 #78797b !important;
}

.listing-item.annually .annually_wrapper,
.listing > li.annually .annually_wrapper,
.listing-item.former .annually_wrapper,
.listing > li.former .annually_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 0 20px;
    margin: 9px 20px 0 0;
    background: none repeat scroll 0 0 #942217 !important;
}

.listing-item.annually .annually_wrapper .annually_text,
.listing > li.annually .annually_wrapper .annually_text,
.listing-item.former .annually_wrapper .annually_text,
.listing > li.former .annually_wrapper .annually_text {
    color: #fff;
    padding: 4px 20px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
}

.listing-item.annually img.annually_img,
.listing > li.annually img.annually_img,
.listing-item.former img.annually_img,
.listing > li.former img.annually_img {
    display: block;
    position: absolute;
    height: 35px;
    top: 0;
    right: 0;
    z-index: 1000;
    overflow: visible;
}

.listing-item.annually .calendar,
.listing > li.annually .calendar {
    margin-top: 9px;
}

.listing-item.annually .title,
.listing > li.annually .title {
    margin-top: 40px;
}

.listing-item dl,
.listing > li dl {
    margin-bottom: 1em;
}

.listing-item .image-wrapper.publication,
.listing > li .image-wrapper.publication {
    width: 130px;
}

.listing-item .image-wrapper.publication img,
.listing > li .image-wrapper.publication img {
    -webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: none;
}

.single-joyo_conference .former .calendar {
    background: none repeat scroll 0 0 #78797b !important;
}

.single-joyo_conference .annually .annually_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 0 20px;
    margin: 0 20px 0 0;
    background: none repeat scroll 0 0 #942217 !important;
}

.single-joyo_conference .annually .annually_wrapper .annually_text {
    color: #fff;
    padding: 4px 20px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
}

.single-joyo_conference .annually img.annually_img {
    display: block;
    position: absolute;
    height: 35px;
    top: -9px;
    right: 0;
    z-index: 1000;
    overflow: visible;
}

.single-joyo_conference .page-header .calendar {
    float: none;
    margin-left: 0;
}

.single-joyo_conference .page-header .title {
    padding-top: 20px;
}

.listing-item-search {
    padding-bottom: 1.5em;
    overflow: hidden;
    margin-bottom: 1.5em;
}

.listing-item-search .image-wrapper {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 50px;
    overflow: hidden;
}

.listing-item-search .page-header {
    margin: 0;
    padding: 0;
}

.listing-item-search .page-header .entry-title {
    color: #4864ab;
    font-size: 18.2px;
    line-height: 1.1em;
    margin-bottom: 0.2em;
}

.thumbnail {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0px;
}

.thumbnail img {
    border: 1px solid #DDDDDD;
    padding: 1px;
}

.data-holder {
    overflow: hidden;
    position: relative;
}

.data-holder > li {
    display: block;
    height: 100px;
    background-color: #eee;
    overflow: hidden;
}

/* AddThis Style
----------------------------------------------------------------------------------------*/
.addthis_toolbox {
    border: 1px solid #eeeeee;
    padding-left: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 30px;
}

/* STYLING FOR PROJECT SPECIFIC NEEDS
-------------------------------------------------- */
body {
    position: relative;
    padding-top: 0;
}

#logo {
    float: left;
    padding-bottom: 20px;
}

#logo a {
    display: block;
}

#logo a img {
    max-width: 100%;
    vertical-align: top;
    float: left;
    display: block;
}

#head-search {
    float: right;
    margin-right: -10px;
}

#head-search form {
    margin-bottom: 0;
    float: left;
}

#quick-links {
    float: right;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 30px;
}

#social-contact {
    float: left;
    margin-left: 6px;
}

#social-contact span {
    display: none;
}

#social-contact .addthis_toolbox {
    border: none;
    float: right;
    padding: 0;
    margin-top: 0;
}

.page-header {
    position: relative;
}

.page-header .calendar {
    position: relative;
    float: right;
    margin-left: 10px;
}

.page-header a:hover .title {
    text-decoration: none;
}

.title.sub-title {
    font-style: italic;
    color: #555;
}

.navbar {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: -10px;
    display: block;
    width: 100%;
    margin-right: -10px;
    clear: both;
}

.navbar .navbar-inner {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .navbar-inner li {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
}

.navbar .navbar-inner li:hover .caret {
    border-bottom-color: #FFFFFF !important;
    border-top-color: #FFFFFF !important;
}

.navbar .navbar-inner li > a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: none;
    padding: 4px 9px;
}

.navbar .navbar-inner .nav-top-secondary li > a {
    padding: 2px 9px;
}

.navbar .navbar-inner .nav-collapse.in > ul > li a:hover {
    background-color: #4864ab;
}

.navbar .navbar-inner .nav-collapse.in > ul > li .dropdown-menu .active > a,
.navbar .navbar-inner .nav-collapse.in > ul > li .dropdown-menu .active > a:hover {
    color: #fff;
}

.navbar .navbar-inner .nav-collapse.secondary {
    clear: left;
}

.navbar .dropdown-menu {
    margin-top: 5px;
    padding: 1px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar .dropdown-menu li > a {
    padding: 6px 16px;
}

.nav.nav-list.list-filter {
    padding-left: 0;
    padding-right: 0;
}

.nav.nav-list.list-filter li {
    border-bottom: 1px solid #cccccc;
}

.nav.nav-list.list-filter li > a {
    margin: 5px 0;
}

.nav.nav-list.list-filter li.nav-header {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.nav.nav-list.list-filter li > a {
    padding: 3px 0px 3px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 1.2em;
    color: #394f87;
}

.nav.nav-list.list-filter li > a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.nav.nav-list.list-filter li > a span {
    font-weight: bold;
}

.nav.nav-list.list-filter li.active {
    border: none;
}

.nav.nav-list.list-filter li.active > a {
    text-shadow: none;
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
}

.nav.nav-list.list-filter li.active > a > span {
    color: #fff;
    font-weight: bold;
    float: right;
    text-shadow: none;
}

.nav.nav-list.list-filter li.active > a:hover {
    background: #4864ab;
}

.nav.nav-list.list-filter li.form-li {
    border: none;
}

.nav.nav-list.list-filter li.form-li select {
    width: 100%;
}

.alphabet-filter {
    background-color: #eff2f8;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.alphabet-filter.nav.nav-pills.list-filter li.nav-header {
    width: 100%;
    padding-left: 8px;
}

.alphabet-filter.nav.nav-pills.list-filter li > a:hover {
    background-color: #fff;
}

.alphabet-filter.nav.nav-pills.list-filter li.active > a:hover {
    background-color: #4864ab;
}

.pulldown-filter {
    background-color: #eff2f8;
    padding: 0 4px 8px 4px;
    margin-bottom: 2em;
}

.pulldown-filter .pulldown-header {
    width: 100%;
    display: block;
    padding: 3px 8px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.pulldown-filter form {
    margin-bottom: 0;
}

.pulldown-filter form select {
    width: auto;
}

#header {
    display: none;
}

.btn-label {
    color: #777;
    text-shadow: none;
}

#sidebar {
    margin-top: -20px;
}

#home-bottom {
    border-top: solid 1px #cccccc;
    padding-top: 1em;
}

.listing.people li {
    border-bottom: solid 1px #cccccc;
    overflow: hidden;
}

.listing.people li .image-wrapper {
    background: url('../images/theme/thumbnail-portrait-cropped-no-image.png') no-repeat center center;
    float: left;
    margin-right: 10px;
    clear: right;
    min-width: 144px;
    min-height: 136px;
    border: solid 1px #cccccc;
}

.listing .image-wrapper {
    float: left;
    margin-right: 10px;
}

li.toggle-trigger .title {
    cursor: pointer;
}

.resume .image-wrapper {
    background: url('../images/theme/medium-portrait-cropped-no-image.png') no-repeat center center;
    float: left;
    min-width: 220px;
    min-height: 250px;
    margin-right: 10px;
    border: solid 1px #cccccc;
}

.entry-summary ul {
    list-style: disc outside none;
}

.entry-summary ul > li > ul {
    list-style: circle outside none;
}

.entry-summary ul > li > ul > li > ul {
    list-style: square outside none;
}

.dl-horizontal {
    overflow: hidden;
}

.dl-horizontal dt,
.dl-horizontal dd,
.dl-horizontal dd a {
    color: #6f6f6f;
    font-size: 12.5px;
    text-align: left;
}

.dl-horizontal dt {
    color: #333;
}

.dl-horizontal dd:after {
    clear: both;
}

.dl-vertical {
    overflow: hidden;
}

.dl-vertical dt,
.dl-vertical dd,
.dl-vertical dd a {
    color: #6f6f6f;
    font-size: 12.5px;
}

.dl-vertical dt {
    color: #333;
}

.dl-simple {
    overflow: hidden;
}

.dl-simple dt,
.dl-simple dd {
    float: left;
    margin-left: 0;
}

.dl-simple dt {
    clear: both;
    margin-left: 0;
    margin-right: 10px;
}

.dl-horizontal dt {
    text-overflow: clip;
}

.dl-horizontal-small dt {
    width: 40px;
}

.dl-horizontal-small dd {
    margin-left: 50px;
}

.dl-horizontal-small dt {
    text-align: left;
}

.dl-horizontal-medium dt {
    width: 80px;
}

.dl-horizontal-medium dd {
    margin-left: 90px;
}

.dl-horizontal-medium dt {
    text-align: left;
}

.dl-horizontal-large dt {
    width: 110px;
}

.dl-horizontal-large dd {
    margin-left: 120px;
}

.dl-horizontal-large dt {
    text-align: left;
}

.dl-horizontal-15 {
    background: white;
}

@media (max-width: 767px) {
    .dl-horizontal-small dt,
    .dl-horizontal-medium dt,
    .dl-horizontal-large dt {
        clear: none;
        float: none;
        text-align: left;
        width: auto;
    }

    .dl-horizontal-small dd,
    .dl-horizontal-medium dd,
    .dl-horizontal-large dd {
        margin-left: 0;
    }
}

/* Responsive video
----------------------------------------------------------------------------------------*/
.rve-embed-container {
    position: relative !important;
    padding-bottom: 56.25% !important;
    padding-top: 30px !important;
    height: 0 !important;
    overflow: hidden !important;
}

.rve-embed-container iframe,
.rve-embed-container object,
.rve-embed-container embed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.themeblvd-gmap {
    border: solid 4px #fff;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

/* Flexslider
----------------------------------------------------------------------------------------*/
.flexslider-container {
    margin-left: -10px;
    margin-right: -10px;
    background-color: #fff;
    margin-bottom: 1em;
}

.flexslider-container .flexslider {
    margin-bottom: 30px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.flexslider-container .flexslider .inner-wrapper {
    background: #eee;
    padding: 0;
}

.flexslider-container .flexslider .inner-wrapper img {
    width: 50%;
}

.flexslider-container .flexslider .widget-title {
    position: absolute;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #23376a;
    bottom: 50px;
    margin-bottom: 0;
    padding: 10px 18px 14px 38px;
}

.flexslider-container .flexslider span img {
    position: absolute;
    bottom: 62px;
    left: -12px;
    margin-bottom: 0;
    z-index: 2;
}

.flexslider-container .flexslider .description {
    width: 50%;
    float: right;
    margin-top: 0;
}

.flexslider-container .flexslider .description p {
    padding: 35px 40px 15px 22px;
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3em;
}

.flexslider-container .flexslider .description .lees-verder {
    margin-left: 20px;
}

.flexslider-container .flexslider .flex-direction-nav a {
    background-image: url("../images/flexslider/bg_direction_nav.png");
}

.flexslider-container .flexslider .flex-control-nav {
    bottom: auto;
    position: relative;
    padding-left: 50%;
    text-align: left;
    margin-top: 2px;
    height: 20px;
    width: auto;
}

.flexslider-container .flexslider .flex-control-nav li {
    margin: 0 2px;
}

.flexslider-container .flexslider .flex-control-paging li a {
    border-radius: 0;
    color: #fff;
    height: 20px;
    width: 40px;
    text-indent: 0px;
    text-align: center;
    background-color: #4864ab;
}

.flexslider-container .flexslider .flex-control-paging li a.flex-active {
    background-color: #942217;
}

.flexslider-container .flexslider .flex-control-paging li a:hover {
    background-color: #1b253f;
    text-decoration: none;
}

.flexslider-container .flexslider .slides span > img {
    width: auto;
    display: inline;
}

@media (max-width: 979px) {
    .flexslider-container .flexslider .widget-title {
        max-width: 300px;
        bottom: 20px;
    }
}

@media (max-width: 767px) {
    .flexslider-container .flexslider .inner-wrapper img {
        width: 100%;
        float: left;
    }

    .flexslider-container .flexslider .inner-wrapper .widget-title {
        width: auto;
        position: relative;
        bottom: auto;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        max-width: none;
    }

    .flexslider-container .flexslider .inner-wrapper .description {
        width: 100%;
    }

    .flexslider-container .flexslider .flex-direction-nav {
        display: none;
    }

    .flexslider-container .flexslider .flex-control-nav {
        padding-left: 10px;
    }
}

/* NAV ICONS WHAT IS THIS ?
-------------------------------------------------- */
.nav-icons {
    margin-bottom: 2px;
}

.nav-icons li {
    background-color: #eee;
    width: 30px;
    height: 30px;
    margin-left: 2px;
}

.nav-icons li img {
    width: 75%;
    height: 75%;
}

/* NAV LOGOS IS THIS A WIDGET OR FILMSTRIP
-------------------------------------------------- */
.nav-logos {
    list-style: none outside none;
    padding: 20px 0;
}

.nav-logos li > .inner-wrapper {
    height: 92px;
    border-right: solid 1px #fff;
    padding: 2px;
    text-align: center;
}

.nav-logos li > .inner-wrapper img {
    display: inline;
}

.nav-logos li:last-child > .inner-wrapper {
    border: none;
}

@media (max-width: 767px) {
    .nav-logos li > .inner-wrapper {
        border-right: none;
    }
}

.lees-verder {
    background-color: transparent;
    display: block;
    float: none;
    font-size: 10px;
    padding-left: 0;
    padding-right: 20px;
    text-transform: uppercase;
    line-height: 1.1em;
    margin-top: 4px;
    overflow: hidden;
    padding-bottom: 6px;
}

.lees-verder .icon-arrow-right {
    font-size: 12px;
    margin-left: 2px;
}

/* Back to Top link
----------------------------------------------------------------------------------------*/
a.to-top {
    background: url('../images/theme/up.png') no-repeat;
    display: block;
    float: right;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    margin-top: -26px;
}

.wp_nav_sub_menu {
    margin-left: 0;
}

.wp_nav_sub_menu > li > .nav.nav-list > li a {
    background: #fff;
    margin-bottom: 4px;
    padding: 6px 8px 4px 7px;
    color: #394f87;
    text-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.wp_nav_sub_menu > li > .nav.nav-list > li.active a {
    background-color: #4864ab;
    color: #fff;
}

.wp_nav_sub_menu > li > .nav.nav-list > li a:hover {
    background-color: #2a3a63;
    color: #fff;
    text-shadow: none;
}

.form-wrapper table {
    width: 99%;
    background-color: #f0f3f8;
    padding-top: 10px;
}

.form-wrapper select.discussion-paper {
    width: 64px;
    margin-right: 4px;
    float: right;
}

.form-wrapper .label-field {
    margin-right: 4px;
    text-align: right;
    color: #555;
}

.form-wrapper .label-group {
    color: #4864ab;
    font-weight: bold;
    margin: 6px;
    margin-left: 10px;
    margin-top: 20px;
}

.form-wrapper input.btn[type="submit"] {
    margin-bottom: 20px;
}

#mc_signup {
    padding-top: 14px;
}

#mc_signup #mc_message .mc_error_msg {
    display: block;
    padding: 10px;
    background: #942217;
    color: #fff;
    margin-bottom: 16px;
}

#mc_signup #mc_message .mc_success_msg {
    display: block;
    padding: 10px;
    color: #fff;
    margin-bottom: 16px;
    background: #17943d;
}

#mc_signup .control-group {
    margin-bottom: 0;
}

#mc_signup .control-group .control-label {
    font-size: 12px;
    color: #555;
}

#mc_signup .control-group .controls {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    clear: both;
}

#mc_signup .control-group .controls input,
#mc_signup .control-group .controls textarea,
#mc_signup .control-group .controls .uneditable-input {
    width: 88%;
}

#mc_signup #mc-indicates-required {
    font-style: italic;
    font-size: 11px;
    color: #6d83bc;
    padding-bottom: 10px;
}

#mc_signup .mc_interest {
    padding-bottom: 10px;
}

#mc_signup .form-horizontal .control-group {
    margin-bottom: 8px;
}

#mc_signup .form-horizontal .control-group .control-label {
    width: 28%;
    float: left;
}

#mc_signup .form-horizontal .control-group .controls {
    clear: none;
    float: left;
    width: 68%;
    margin-left: 2%;
}

#mc_signup .form-horizontal .control-group .controls input,
#mc_signup .form-horizontal .control-group .controls textarea,
#mc_signup .form-horizontal .control-group .controls .uneditable-input {
    float: left;
}

.widget_mailchimpsf_widget.featured-widget > .inner-wrapper > .widget-title {
    margin-bottom: 0;
}

.widget_mailchimpsf_widget.featured-widget #mc_signup {
    background-color: #f0f3f8;
    padding: 10px;
}

div.mega-menu {
    position: relative;
    z-index: 20;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.mega-menu > .hero-unit {
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 5px solid #555;
    border-top: 5px solid #555;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 20px 40px 40px 60px;
    min-height: 200px;
    font-size: 14px;
    line-height: 1.4em;
}

div.mega-menu > .hero-unit .title {
    margin-bottom: 0.7em;
}

div.mega-menu > .hero-unit .entry-content img {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 4px;
}

div.mega-menu > .hero-unit .entry-content p {
    font-size: 16px;
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.entry-content p {
    margin-bottom: 0.4em;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    margin-bottom: 0.3em;
    margin-top: 1.5em;
}

.entry-content h1:first-child,
.entry-content h2:first-child,
.entry-content h3:first-child,
.entry-content h4:first-child,
.entry-content h5:first-child,
.entry-content h6:first-child {
    margin-top: 0;
}

@media (max-width: 979px) {
    #head-search {
        margin-right: 4px;
    }

    #quick-links {
        margin-right: -10px;
        margin-top: 7px;
    }

    #social-contact {
        position: relative;
        top: auto;
        right: auto;
        float: right;
    }
}

@media (max-width: 767px) {
    #segment-header {
        height: auto;
    }

    .navbar {
        clear: both;
    }
}

@media (max-width: 380px) {
    #logo img {
        width: 280px;
    }
}

@media (max-width: 979px) {
    #segment-content > .container {
        background-position: -50px center;
    }

    #segment-content > .container #nav-secondary > .inner-wrapper {
        padding-left: 0px;
        padding-right: 5px;
    }
}

@media (max-width: 767px) {
    #segment-content > .container {
        background-image: none;
    }

    #segment-content > .container #nav-secondary > .inner-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

/* ISOTOPE
----------------------------------------------------------------------------------------*/
.isotope {
    margin: -5px !important;
    overflow: hidden;
}

.isotope .large,
.isotope .variable-sizes .element.large,
.isotope .variable-sizes .element.large.width2.height2 {
    height: 499px;
    width: 1051px;
    z-index: 100;
}

.joyo_isotope_item.joyo_fellow {
    overflow: hidden;
    width: 343px;
    height: 159px;
    margin: 5px;
    padding: 0px;
    border-width: 1px;
    float: left;
}

.joyo_isotope_item.joyo_fellow.width2 {
    width: 697px;
}

.joyo_isotope_item.joyo_fellow.height2 {
    height: 329px;
}

.joyo_isotope_item.joyo_fellow.width2.height2 {
    height: 329px;
    width: 697px;
}

.people-isotope {
    margin: -5px !important;
}

.isotope {
    margin: -5px !important;
    overflow: hidden;
}

.isotope .large,
.isotope .variable-sizes .element.large,
.isotope .variable-sizes .element.large.width2.height2 {
    height: 499px;
    width: 1051px;
    z-index: 100;
}

.joyo_isotope_item.joyo_phdstudent {
    overflow: hidden;
    width: 343px;
    height: 159px;
    margin: 5px;
    padding: 0px;
    border-width: 1px;
    float: left;
}

.joyo_isotope_item.joyo_phdstudent.width2 {
    width: 697px;
}

.joyo_isotope_item.joyo_phdstudent.height2 {
    height: 329px;
}

.joyo_isotope_item.joyo_phdstudent.width2.height2 {
    height: 329px;
    width: 697px;
}

.isotope {
    margin: -5px !important;
    overflow: hidden;
}

.isotope .large,
.isotope .variable-sizes .element.large,
.isotope .variable-sizes .element.large.width2.height2 {
    height: 499px;
    width: 1051px;
    z-index: 100;
}

.joyo_isotope_item.joyo_mphilstudent {
    overflow: hidden;
    width: 343px;
    height: 159px;
    margin: 5px;
    padding: 0px;
    border-width: 1px;
    float: left;
}

.joyo_isotope_item.joyo_mphilstudent.width2 {
    width: 697px;
}

.joyo_isotope_item.joyo_mphilstudent.height2 {
    height: 329px;
}

.joyo_isotope_item.joyo_mphilstudent.width2.height2 {
    height: 329px;
    width: 697px;
}

.isotope {
    margin: -5px !important;
    overflow: hidden;
}

.isotope .large,
.isotope .variable-sizes .element.large,
.isotope .variable-sizes .element.large.width2.height2 {
    height: 937px;
    width: 1051px;
    z-index: 100;
}

.joyo_isotope_item.joyo_alumni {
    overflow: hidden;
    width: 343px;
    height: 305px;
    margin: 5px;
    padding: 0px;
    border-width: 1px;
    float: left;
}

.joyo_isotope_item.joyo_alumni.width2 {
    width: 697px;
}

.joyo_isotope_item.joyo_alumni.height2 {
    height: 621px;
}

.joyo_isotope_item.joyo_alumni.width2.height2 {
    height: 621px;
    width: 697px;
}

.pinned-profile,
.joyo_isotope_item.joyo_mphilstudent,
.joyo_isotope_item.joyo_phdstudent,
.joyo_isotope_item.joyo_alumni {
    background: #fff;
    border: 1px solid #e6e6e6;
}

.pinned-profile .image-wrapper,
.joyo_isotope_item.joyo_mphilstudent .image-wrapper,
.joyo_isotope_item.joyo_phdstudent .image-wrapper,
.joyo_isotope_item.joyo_alumni .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    float: none;
}

.pinned-profile .entry-title,
.joyo_isotope_item.joyo_mphilstudent .entry-title,
.joyo_isotope_item.joyo_phdstudent .entry-title,
.joyo_isotope_item.joyo_alumni .entry-title {
    margin-top: 10px;
    margin-left: 60px;
    font-size: 20px;
}

.pinned-profile dl,
.joyo_isotope_item.joyo_mphilstudent dl,
.joyo_isotope_item.joyo_phdstudent dl,
.joyo_isotope_item.joyo_alumni dl {
    margin-left: 60px;
}

.pinned-profile dl.dl-inline > dt,
.joyo_isotope_item.joyo_mphilstudent dl.dl-inline > dt,
.joyo_isotope_item.joyo_phdstudent dl.dl-inline > dt,
.joyo_isotope_item.joyo_alumni dl.dl-inline > dt,
.pinned-profile dl.dl-joyo-inline > dt,
.joyo_isotope_item.joyo_mphilstudent dl.dl-joyo-inline > dt,
.joyo_isotope_item.joyo_phdstudent dl.dl-joyo-inline > dt,
.joyo_isotope_item.joyo_alumni dl.dl-joyo-inline > dt {
    display: inline;
    line-height: 18px;
    font-style: italic;
    margin-right: 4px;
    font-weight: normal;
    width: auto;
    color: #6780bf;
}

.pinned-profile dl.dl-inline > dt + dd,
.joyo_isotope_item.joyo_mphilstudent dl.dl-inline > dt + dd,
.joyo_isotope_item.joyo_phdstudent dl.dl-inline > dt + dd,
.joyo_isotope_item.joyo_alumni dl.dl-inline > dt + dd,
.pinned-profile dl.dl-joyo-inline > dt + dd,
.joyo_isotope_item.joyo_mphilstudent dl.dl-joyo-inline > dt + dd,
.joyo_isotope_item.joyo_phdstudent dl.dl-joyo-inline > dt + dd,
.joyo_isotope_item.joyo_alumni dl.dl-joyo-inline > dt + dd {
    width: auto;
    float: none;
    display: inline;
    margin-left: 0;
    line-height: 18px;
}

.pinned-profile dl.dl-inline > dt + dd:after,
.joyo_isotope_item.joyo_mphilstudent dl.dl-inline > dt + dd:after,
.joyo_isotope_item.joyo_phdstudent dl.dl-inline > dt + dd:after,
.joyo_isotope_item.joyo_alumni dl.dl-inline > dt + dd:after,
.pinned-profile dl.dl-joyo-inline > dt + dd:after,
.joyo_isotope_item.joyo_mphilstudent dl.dl-joyo-inline > dt + dd:after,
.joyo_isotope_item.joyo_phdstudent dl.dl-joyo-inline > dt + dd:after,
.joyo_isotope_item.joyo_alumni dl.dl-joyo-inline > dt + dd:after {
    content: '';
    display: block;
}

.pinned-profile dl .personal-url,
.joyo_isotope_item.joyo_mphilstudent dl .personal-url,
.joyo_isotope_item.joyo_phdstudent dl .personal-url,
.joyo_isotope_item.joyo_alumni dl .personal-url {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #d3daec;
    padding: 4px 8px;
    color: #4c5774;
    font-size: 12px;
}

.pinned-profile .isotope-show-more,
.joyo_isotope_item.joyo_mphilstudent .isotope-show-more,
.joyo_isotope_item.joyo_phdstudent .isotope-show-more,
.joyo_isotope_item.joyo_alumni .isotope-show-more,
.pinned-profile .isotope-show-less,
.joyo_isotope_item.joyo_mphilstudent .isotope-show-less,
.joyo_isotope_item.joyo_phdstudent .isotope-show-less,
.joyo_isotope_item.joyo_alumni .isotope-show-less {
    margin-left: 60px;
    margin-top: -7px;
}

.pinned-profile .isotope-show-more [class^="icon-"],
.joyo_isotope_item.joyo_mphilstudent .isotope-show-more [class^="icon-"],
.joyo_isotope_item.joyo_phdstudent .isotope-show-more [class^="icon-"],
.joyo_isotope_item.joyo_alumni .isotope-show-more [class^="icon-"],
.pinned-profile .isotope-show-less [class^="icon-"],
.joyo_isotope_item.joyo_mphilstudent .isotope-show-less [class^="icon-"],
.joyo_isotope_item.joyo_phdstudent .isotope-show-less [class^="icon-"],
.joyo_isotope_item.joyo_alumni .isotope-show-less [class^="icon-"] {
    margin-right: 6px;
}

.pinned-profile .isotope-show-more:hover,
.joyo_isotope_item.joyo_mphilstudent .isotope-show-more:hover,
.joyo_isotope_item.joyo_phdstudent .isotope-show-more:hover,
.joyo_isotope_item.joyo_alumni .isotope-show-more:hover,
.pinned-profile .isotope-show-less:hover,
.joyo_isotope_item.joyo_mphilstudent .isotope-show-less:hover,
.joyo_isotope_item.joyo_phdstudent .isotope-show-less:hover,
.joyo_isotope_item.joyo_alumni .isotope-show-less:hover {
    text-decoration: none;
}

.pinned-profile .isotope-show-more:hover span,
.joyo_isotope_item.joyo_mphilstudent .isotope-show-more:hover span,
.joyo_isotope_item.joyo_phdstudent .isotope-show-more:hover span,
.joyo_isotope_item.joyo_alumni .isotope-show-more:hover span,
.pinned-profile .isotope-show-less:hover span,
.joyo_isotope_item.joyo_mphilstudent .isotope-show-less:hover span,
.joyo_isotope_item.joyo_phdstudent .isotope-show-less:hover span,
.joyo_isotope_item.joyo_alumni .isotope-show-less:hover span {
    text-decoration: underline;
}

.pinned-profile .isotope-show-more span,
.joyo_isotope_item.joyo_mphilstudent .isotope-show-more span,
.joyo_isotope_item.joyo_phdstudent .isotope-show-more span,
.joyo_isotope_item.joyo_alumni .isotope-show-more span,
.pinned-profile .isotope-show-less span,
.joyo_isotope_item.joyo_mphilstudent .isotope-show-less span,
.joyo_isotope_item.joyo_phdstudent .isotope-show-less span,
.joyo_isotope_item.joyo_alumni .isotope-show-less span {
    font-size: 12px;
}

.pinned-profile.height2,
.joyo_isotope_item.joyo_mphilstudent.height2,
.joyo_isotope_item.joyo_phdstudent.height2,
.joyo_isotope_item.joyo_alumni.height2 {
    background-color: #f7f8fb;
}

.pinned-profile {
    background-color: #eff2f8;
    padding: 10px 10px 8px 10px;
    position: relative;
    margin-top: -16px;
    margin-bottom: 20px;
    border: none;
    *zoom: 1;
}

.pinned-profile:before,
.pinned-profile:after {
    display: table;
    content: "";
    line-height: 0;
}

.pinned-profile:after {
    clear: both;
}

.pinned-profile .image-wrapper {
    left: 10px;
    top: 10px;
}

.pinned-profile > dl {
    margin-left: 60px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}

.pinned-profile > dl dd,
.pinned-profile > dl dt {
    font-size: 12.5px;
    margin-bottom: 3px;
    line-height: 18px;
    float: left !important;
}

.pinned-profile > dl dt {
    clear: both;
}

.people-isotope .content-large {
    display: none;
}

#breadcrumbs {
    display: none;
}

.pinned-profile ul.job-market {
    clear: both;
    border-top: 1px solid #4864ab;
    position: relative;
    top: 6px;
}

.pinned-profile ul.job-market.nav-list a {
    padding: 4px 0px;
}

/* Gravity Forms 2.1.1.19 border-sizing fix (using content box in old css ways. Need to override the border-box from GF.
----------------------------------------------------------------------------------------*/
.gform_wrapper input, .gform_wrapper input::before, .gform_wrapper input::after {
    box-sizing: content-box !important;
}

/* added styling for better handling of pages on mobile */
@media (max-width: 767px) {
    body.single-joyo_seminar div.row,
    body.single-joyo_nieuws div.row,
    body.single-joyo_conference div.row,
    body.single-joyo_lecture div.row,
    body.page-template-template-discussionpaper-php div.row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    body.single-joyo_seminar div.row div#page,
    body.single-joyo_nieuws div.row div#page,
    body.single-joyo_conference div.row div#page,
    body.single-joyo_lecture div.row div#page,
    body.page-template-template-discussionpaper-php div.row div#page {
        order: 1;
    }

    body.single-joyo_seminar div.row div#nav-secondary,
    body.single-joyo_nieuws div.row div#nav-secondary,
    body.single-joyo_conference div.row div#nav-secondary,
    body.single-joyo_lecture div.row div#nav-secondary,
    body.page-template-template-discussionpaper-php div.row div#nav-secondary {
        order: 2;
    }

    body.single-joyo_seminar div.row div#sidebar,
    body.single-joyo_nieuws div.row div#sidebar,
    body.single-joyo_conference div.row div#sidebar,
    body.single-joyo_lecture div.row div#sidebar,
    body.page-template-template-discussionpaper-php div.row div#sidebar {
        order: 3;
    }
}
